{{!-- the original post --}}
<div class="mx-5">
<div class="p-4 m-3" id="post-card">
    <div class="card border border-secondary mb-2 mx-5">
        <div class="card-header bg-info opacity-75 text-white d-flex justify-content-between">
           <h4><a href="/post/{{id}}" class="link-light">{{title}}</a></h4>
           <div>
                {{user.username}} | {{format_date date_created}}
            </div>
        </div>
        <p class="card-text m-3 white-space">{{post_content}}</p>
    </div>

</div>
</div>