<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="px-5 pb-4" id="post-card">
    <div class="card shadow">
        <h4 class="card-header bg-info text-white"><a href="/post/{{post.id}}">{{post.title}}</a></h4>
        <p class="card-text m-3">{{post.post_content}}</p>
        <div class="bg-info bg-opacity-50">
            <div class="d-flex justify-content-end">
                <div class="fw-bold text-white ms-4">{{post.user.username}}</div>
                <div class="fw-bold text-white ms-4">{{format_date post.date_created}}</div>
            </div>
        </div>
    </div>
</div>
{{/each}}