<div class="bg-secondary bg-opacity-25">
<div class="p-5" id="post-card">
    <div class="card shadow mb-3">
        <h4 class="card-header bg-info text-white">{{post.title}}</h4>
        <p class="card-text m-3">{{post.post_content}}</p>
        <div class="bg-info bg-opacity-50">
            <div class="d-flex justify-content-end pe-3">
                <div class="fw-bold text-white ms-4">{{post.user.username}}</div>
                <div class="fw-bold text-white ms-4">{{format_date post.date_created}}</div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="bg-success p-3 bg-opacity-50 text-white fw-bold">
    <h2 class="mx-3">Comments</h2>
</div>


<div class="bg-secondary bg-opacity-25 pb-4">
    {{#if post.comments}}
    <div class="card-body">
        {{#each post.comments}}
        <div class="m-3 border border-success" id="comment-card">
            <div class="bg-white">
                <p class="p-3">{{comment_content}}</p>
                <div class="bg-success bg-opacity-25">
                    <div class="d-flex justify-content-end pe-3">
                        <div class="fw-bold text-white ms-4">{{user.username}}</div>
                        <div class="fw-bold text-white ms-4">{{format_date createdAt}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>



{{!-- add a comment --}}
<div id="comment">
    <div class="p-5 mb-5">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment:</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div aria-label="Basic outlined example">
            <button type="click" class="btn btn-outline-success">Submit</button>
        </div>
    </div>
</div>


<script src="/js/comment.js"></script>